@font-face{
    font-family: informal-roman;
    src: url(fonts/Informal-roman.ttf);
}

h1{
    color: rgb(0, 0, 0);
    font-family: informal-roman;
    font-size: 45px;
}

p{
    font-family:'Rubik', sans-serif;
    font-size: 15px;
}

li{
    font-family:'Rubik', sans-serif;
    font-size: 15px;   
    margin-bottom: 8px; 
}

.all{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.top-container{
}

.title-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.bild-container{
    position: relative;
    justify-content: center;
}
.bild-container img{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.bild-container p{
    position: absolute;
    margin-left: 50%;
	bottom:0;
	left:0;
	background: rgba(255,255,255,0.6);
    padding: 6px;
    font-size: 17px;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}


.navitems {
	list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}	
.navitems p {
    text-decoration: none;
    padding: 20px;
    color: black;
}


.news-container{
}

.subtitle{
    text-align: center;
}

.subtitle p{
    font-size: 40px;
    font-family: informal-roman;
    margin: 5px;
}

.ausbildung-container{
    max-width: 100%;
    justify-content: center;
    margin-left: 15%;
    margin-right: 5%;
}

.first-container {
    display: flex;
    margin-top: 30px;
}

.first-container img{
    margin-right: 30px;
    margin-top: 20px;
}

.meine-schulausbildung{
    margin-top: 10px;
    margin-right: 20%;
}

.second-container{
    margin-top: 50px;
	display: flex;
}

.second-container img{
    height: 220px;
}

.picture-middle{
    margin-left: 20px;
    margin-right: 20px;
}

.kontakt{
    background-color: #dcecfc;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border:10px;
    margin-bottom: 20px;
}