html, body{
    
}

@font-face { font-family: 'infomal-roman';
    src: local ('INFROMAN.TTF')
         url('font/INFROMAN.TTF') format('truetype'); }

h1{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.all{
    max-width: 940px;
    justify-content: center;
}

.top-container{
    max-width: 940px;
}

.title-container{
    text-align: center;
    justify-content: center;
    max-width: 940px;
    display: flex;
}

.bild-container{
    justify-content: center;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}



.navigation{

}

.navitems {
	list-style: none;
    display: flex;
    margin-top: 50px;
	list-style: none;
    display: flex;
}	


.navitems p {
    font-size: 17px;
	color: #332f2f;
    text-decoration: none;
    padding: 20px;
}


.news-container{
    text-align: center;
    align-content: center;
    display: flex;
}

.subtitle p{
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    text-align: center;
}

.box-left{
    margin-top: 100px;
    width: 200px;
    padding: 20px;
    background-color: red;
}

.box-right{
    margin-top: 100px;
    width: 200px;
    padding: 20px;
    background-color: blue;
}