@font-face{
    font-family: informal-roman;
    src: url(fonts/Informal-roman.ttf);
}

h1{
    color: rgb(0, 0, 0);
    font-family: informal-roman;
    font-size: 45px;
}

h3{
    font-family:'Rubik', sans-serif;
    font-size: 20px;
    text-align: left;
}

p{
    font-family:'Rubik', sans-serif;
    font-size: 15px;
}

li{
    font-family:'Rubik', sans-serif;
    font-size: 15px;    
}

.link a:visited{
    color: black;
}

.all{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.top-container{
}

.title-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.bild-container{
    position: relative;
    justify-content: center;
}
.bild-container img{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.bild-container p{
    position: absolute;
    margin-left: 50%;
	bottom:0;
	left:0;
	background: rgba(255,255,255,0.6);
    padding: 6px;
    font-size: 15px;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}

.navitems {
	list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}	
.navitems i{
    margin-top: 17px;
}
.navitems p {
    text-decoration: none;
    color: #272727;
    margin-left: 7px;
}
.navitems a {
    color: #272727;
    display: flex;
    padding: 20px;
}
.navitems a:hover{
	color: #66DDDD;
}



.subtitle{
    text-align: center;
}
.subtitle p{
    font-size: 40px;
    font-family: informal-roman;
}

.corona{
    max-width: 30%;
    border-width: 1.5px;
    border-color: #DA0202;
    border-style: solid;
    background: #FFA3A3;
    height: 40px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.corona p{
    margin-top: 12px;;
    font-size: 13px;
    color: white;
    text-align: center;
    vertical-align: center;
}
.ueberschrift{
    text-align: center;
}
.boxes{
    display: flex;
    justify-content: center;
}

.box-left{
    margin-top: 10px;
    width: 30%;
    margin-right: 20px;
}
.box-left img{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.box-left p{
    margin-bottom: 30px;
    text-align: center;  
}

.box-right{
    margin-top: 10px;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.box-right img{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.box-right p{
    margin-bottom: 30px;
    text-align: center;  
}

.kontakt{
    background-color: #dcecfc;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border:10px;
    margin-bottom: 20px;
}
