html, body{
    
}

h1{
    color: red;
}

.title-container{
    background-color: aqua;
    height: 100px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-element{
    20%
}

.bild-container{
    background-color: blueviolet;
    height: 600px;
    width: 1000px;
}

.navitems{
    background-image: url("pictures/corviglia");
    80%
}

.logo{}

.news-container{
}

.subtitle{
}

.content-news{}