@font-face{
    font-family: informal-roman;
    src: url(fonts/Informal-roman.ttf);
}

h1{
    color: rgb(0, 0, 0);
    font-family: informal-roman;
    font-size: 45px;
}

p{
    font-family:'Rubik', sans-serif;
    font-size: 15px;
}

.all{
    justify-content: center;
    margin left: auto;
    margin-right: auto;
    width: 100%;
}

.top-container{
}

.title-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.bild-container{
    position: relative;
    justify-content: center;
}
.bild-container p{
    position: absolute;
	bottom:0;
	left:0;
	background: rgba(255,255,255,0.6);
    margin-left: 650px;
    margin-right: 20px;
    padding: 6px;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}


.navitems {
	list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}	


.navitems p {
    text-decoration: none;
    padding: 20px;
    color: black;
}


.news-container{
}

.subtitle{
    text-align: center;
}

.subtitle p{
    font-size: 40px;
    font-family: informal-roman;
    margin: 5px;
}

.boxes{
    display: flex;
    justify-content: center;
}

.box-left{
    margin-top: 10px;
    width: 30%;
    margin-right: 20px;
}

.box-right{
    margin-top: 10px;
    width: 30%;
    margin-left: 20px;
}

