
@font-face{
    font-family: informal-roman;
    src: url(fonts/Informal-roman.ttf);
}

h1{
    color: rgb(0, 0, 0);
    font-family: informal-roman;
    font-size: 45px;
}

h3{
    font-family:'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
}

p{
    font-family:'Rubik', sans-serif;
    font-size: 15px;
}

li{
    font-family:'Rubik', sans-serif;
    font-size: 15px;    
}

.all{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.title-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.bild-container{
    position: relative;
    justify-content: center;
}
.bild-container img{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.bild-container p{
    position: absolute;
    margin-left: 50%;
	bottom:0;
	left:0;
	background: rgba(255,255,255,0.6);
    padding: 6px;
    font-size: 17px;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}

.navitems {
	list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}	
.navitems p {
    text-decoration: none;
    padding: 20px;
    color: black;
}

.subtitle{
    text-align: center;
}

.subtitle p{
    font-size: 40px;
    font-family: informal-roman;
    margin: 5px;
}

.disziplinen-container{
    max-width: 100%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.first-container{
    justify-content: center;
    display: flex;
}
.slalom{
    display: flex;
}
.slalom img{
    margin-right: 15px;
    margin-top: 30px;
}
.riesenslalom{
    display: flex;
    margin-left: 30px;
}
.riesenslalom img{
    margin-right: 15px;
    margin-top: 30px;
}


.second-container{
    justify-content: center;
    display: flex;
}
.super-g{
    display: flex;
}
.super-g img{
    margin-right: 15px;
    margin-top: 30px;
}
.abfahrt{
    display: flex;
    margin-left: 30px;
}
.abfahrt img{
    margin-right: 15px;
    margin-top: 30px;
}

.third-container{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.eyof{
    display: flex;
}
.eyof img{
    margin-right: 15px;
    margin-top: 30px;
}
.unbekannt{
    display: flex;
    margin-left: 30px;
}
.unbekannt img{
    margin-right: 15px;
    margin-top: 30px;
}

.kontakt{
    background-color: #dcecfc;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border:10px;
    margin-bottom: 20px;
}