
@font-face{
    font-family: informal-roman;
    src: url(fonts/Informal-roman.ttf);
}

h1{
    color: rgb(0, 0, 0);
    font-family: informal-roman;
    font-size: 45px;
}

h3{
    font-family:'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
}

p{
    font-family:'Rubik', sans-serif;
    font-size: 15px;
}

li{
    font-family:'Rubik', sans-serif;
    font-size: 15px;    
}


.link a:visited{
    color: black;
}

.all{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.title-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.bild-container{
    position: relative;
    justify-content: center;
}
.bild-container img{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.bild-container p{
    position: absolute;
    margin-left: 50%;
	bottom:0;
	left:0;
	background: rgba(255,255,255,0.6);
    padding: 6px;
    font-size: 15px;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}

.navitems {
	list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}	
.navitems p {
    text-decoration: none;
    padding: 20px;
    color: #272727;
}
.navitems a {
	color: #272727;
}
.navitems a:hover{
	color: #66DDDD;
}

.subtitle{
    text-align: center;
}

.subtitle p{
    font-size: 40px;
    font-family: informal-roman;
    margin: 5px;
}

.disziplinen-container{
    max-width: 100%;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.first-container{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.slalom{
    display: flex;
    max-width: 40%;
}
.slalom img{
    margin-right: 15px;
    margin-top: 60px;
}
.favourite{
    width: 100px;
    height: 50px;
    background-color: yellow;
    border-color: tomato;
    border-width: 1px;
    border-style: double;
    transform: rotate(-20deg);
    margin-left: 20px;

    transition: transform .2s;
      }     
.favourite:hover {
        transform: scale(1.2);
      }

.favourite p{
    text-align: center;
}
.subtitle-favourite{
    display: flex;
}
.riesenslalom{
    display: flex;
    margin-left: 30px;
    max-width: 40%;
}
.riesenslalom img{
    margin-right: 15px;
    margin-top: 60px;
}


.second-container{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.super-g{
    display: flex;
    max-width: 40%;
}
.super-g img{
    margin-right: 15px;
    margin-top: 60px;
}
.abfahrt{
    display: flex;
    margin-left: 30px;
    max-width: 40%;
}
.abfahrt img{
    margin-right: 15px;
    margin-top: 60px;
}

.third-container{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 30px;
    max-width: 60%;
}
.erster-erfolg{
    display: flex;
}
.erster-erfolg h3{
    margin-right: 150px;
}
.erster-erfolg img{
    margin-right: 20px;
    margin-top: 60px;
}

.fourth-container{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.eyof{
    display: flex;
    max-width: 50%;
    margin-left: 13%;
    margin-right: 5%;
    margin-bottom: 50px;
}
.eyof img{
    margin-right: 25px;     
    margin-top: 30px;
}
.eyof-text{
    margin-top: 30px;
}

.fis-app{
    margin-top: 30px;
    max-width: 200px;
}

.fis-app{
    width: 500px;
    justify-content: center;
    text-align: center;
}

.kontakt{
    background-color: #dcecfc;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border:10px;
    margin-bottom: 20px;
}
