
@font-face{
    font-family: informal-roman;
    src: url(fonts/Informal-roman.ttf);
}

h1{
    color: rgb(0, 0, 0);
    font-family: informal-roman;
    font-size: 45px;
}

h3{
    font-family:'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
}

p{
    font-family:'Rubik', sans-serif;
    font-size: 15px;
}

li{
    font-family:'Rubik', sans-serif;
    font-size: 15px;    
}

.link a:visited{
    color: black;
}
.link a:hover{
	color: #66DDDD;
}

.all{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.top-container{
  
}
.title-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.bild-container{
    position: relative;
    justify-content: center;
}
.bild-container img{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.bild-container p{
    position: absolute;
    margin-left: 50%;
	bottom:0;
	left:0;
	background: rgba(255,255,255,0.6);
    padding: 6px;
    font-size: 15px;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}

.navitems {
	list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1px;
}	
.navitems i{
    margin-top: 17px;
}
.navitems p {
    text-decoration: none;
    color: #272727;
    margin-left: 7px;
}
.navitems a {
    color: #272727;
    display: flex;
    padding: 20px;
}
.navitems a:hover{
	color: #66DDDD;
}

.subtitle{
    text-align: center;
    margin-bottom: 50px;
}

.subtitle p{
    font-size: 40px;
    font-family: informal-roman;
    margin: 5px;
}

.fotogalerie-container{
    max-width: 100%;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.first-container{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}
.second-container{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}
.third-container{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}
.fourth-container{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

figure,
figcaption {
	margin: 0;
	padding: 0;
}
.gallery {

	display: flex;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

}
.gallery figure {
    margin-right: 30px;
	position: relative;
	overflow: hidden;
}
.gallery figure:before {
	content: "i";
	position: absolute;
	bottom: 1em;
	left: 1em;
	background: #2E9AFE;
	color: white;
	opacity: 0.7;
	width: 1em;
	height: 1em;
	border-radius: 1em;
	text-align: center;
	font-size: 1em;
	line-height: 1em;
	transition: all 1s ease;
}
.gallery figure:hover:before {
	opacity: 0;
}
figure img {
	display: block;
}
.gallery > figure > figcaption {
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 3em;
	color: white;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	bottom: -3em;
	transition: all 1s ease;
}
.gallery > figure:hover > figcaption {
	opacity: 1;
	bottom: 0;
	left: 0;
	width: 100%;
}
.gallery > figcaption {
	grid-column: 1 / -1;
	text-align: center;
}


.kontakt a{
    color: black;
}
.kontakt a:hover{
    color: #66DDDD;
}
.kontakt{
    background-color: #dcecfc;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border:10px;
    margin-bottom: 20px;
}