
@font-face{
    font-family: informal-roman;
    src: url(fonts/Informal-roman.ttf);
}

h1{
    color: rgb(0, 0, 0);
    font-family: informal-roman;
    font-size: 45px;
}

h3{
    font-family:'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
}

p{
    font-family:'Rubik', sans-serif;
    font-size: 15px;
}

li{
    font-family:'Rubik', sans-serif;
    font-size: 15px;    
}

.all{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.top-container{
  
}
.title-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.bild-container{
    position: relative;
    justify-content: center;
}
.bild-container img{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.bild-container p{
    position: absolute;
    margin-left: 50%;
	bottom:0;
	left:0;
	background: rgba(255,255,255,0.6);
    padding: 6px;
    font-size: 17px;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}

.navitems {
	list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}	
.navitems p {
    text-decoration: none;
    padding: 20px;
    color: black;
}

.subtitle{
    text-align: center;
    margin-bottom: 50px;
}

.subtitle p{
    font-size: 40px;
    font-family: informal-roman;
    margin: 5px;
}

.fotogalerie-container{
    max-width: 100%;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.first-container{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}



figure,
figcaption {
	margin: 0;
	padding: 0;
}

#gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
	gap: 1em;
}

#gallery figure {
	position: relative;
	overflow: hidden;
}

#gallery figure:before {
	content: "?";
	position: absolute;
	bottom: 1em;
	left: 1em;
	background: white;
	color: black;
	opacity: 0.7;
	width: 1em;
	height: 1em;
	border-radius: 1em;
	text-align: center;
	font-size: 1em;
	line-height: 1em;
	transition: all 1s ease;
}

#gallery figure:hover:before {
	opacity: 0;
}

figure img {
	display: block;
}

#gallery > figure > figcaption {
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 3em;
	color: white;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	bottom: -3em;
	transition: all 1s ease;
}

figure.mitte figcaption {
	width: 0;
	left: 50%;
}

#gallery > figure.rechts > figcaption {
	width: 0;
	bottom: 50%;
	left: 50%;
}

#gallery > figure:hover > figcaption {
	opacity: 1;
	bottom: 0;
	left: 0;
	width: 100%;
}

#gallery > figcaption {
	grid-column: 1 / -1;
	text-align: center;
}





first-container img{
    margin-right: 30px;
}

.second-container{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}
.second-container img{
        margin-left: 30px;
}

.third-container{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}
.third-container img{
    margin-right: 30px;
    transform: rotate(180deg);
}

.fourth-container{
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}
.fourth-container img{
        margin-left: 30px;
}

.kontakt{
    background-color: #dcecfc;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border:10px;
    margin-bottom: 20px;
}