html, body{
    
}

h1{
    color: rgb(0, 0, 0);
    font-family:'Rubik', sans-serif;
}

p{
    font-family:'Rubik', sans-serif;
    font-size: 15px;
}

.all{
    max-width: 960px;
    justify-content: center;
}

.top-container{
}

.title-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.bild-container{
    position: relative;
    justify-content: center;
}

.bild-container p{
    position: absolute;
	bottom:0;
	left:0;
	background: rgba(255,255,255,0.6);
    margin-left: 650px;
    margin-right: 20px;
    padding: 6px;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}


.navitems {
	list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}	


.navitems p {
    text-decoration: none;
    padding: 20px;
    color: black;
}

.subtitle{
    text-align: center;
}

.subtitle p{
    font-weight: bold;
    font-size: 20px;
}