
@font-face{
    font-family: informal-roman;
    src: url(fonts/Informal-roman.ttf);
}

h1{
    color: rgb(0, 0, 0);
    font-family: informal-roman;
    font-size: 45px;
}

p{
    font-family:'Rubik', sans-serif;
    font-size: 15px;
}

li{
    font-family:'Rubik', sans-serif;
    font-size: 15px;    
}

.link a:visited{
    color: black;
}
.link a:hover{
	color: #66DDDD;
}

.all{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.top-container{
}

.title-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.bild-container{
    position: relative;
}
.bild-container img{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.bild-container p{
    position: absolute;
    margin-left: 50%;
	bottom:0;
	left:0;
	background: rgba(255,255,255,0.6);
    padding: 6px;
    font-size: 15px;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}


.navitems {
	list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1px;
}	
.navitems i{
    margin-top: 17px;
}
.navitems p {
    text-decoration: none;
    color: #272727;
    margin-left: 7px;
}
.navitems a {
    color: #272727;
    display: flex;
    padding: 20px;
}
.navitems a:hover{
	color: #66DDDD;
}
.subtitle{
    text-align: center;
}

.subtitle p{
    font-size: 40px;
    font-family: informal-roman;
    margin: 5px;
}

.portrait-container{
    max-width: 100%;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.first-container{
    justify-content: center;
    display: flex;
    margin-top: 5%;

}
.steckbrief-bild{
    max-width: 60%;
    display: flex;
    margin-right: 30%;
}
.steckbrief{
    display: flex;
    position: absolute;
    margin-left: 300px;
} 
.antworten-steckbrief ul{
    list-style: none;
    padding-left: 20px;
}

.schreibe-mir{
    background-color:#dcecfc;
    height: 50px;
    width: 160px;
    margin-top: 10%;
    margin-left: 100px;
    align-items: right;
    border-width: 1.5px;
    border-color:#5882FA;
    border-style: solid;
}
.schreibe-mir p{
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}
.schreib-mir a:visited{
    color: black;
}
.schreib-mir a:hover{
	color: #66DDDD;
}



.mein-zuhause{
    margin-right: 84%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.mein-zuhause iframe{
    position: relative;
    margin-left: 60%;
    width: 800px;
    height: 70px;
}
/*.zuhause-kasten{
    height: 350px;
    width: 170px;
    background-color: chartreuse;
    margin-left: 60%;
    position: absolute;
}

.gesamt-haus{
    max-width: 40%;
    margin-left: 50%;
}
.gesamt-haus p{
    margin-left: 23%;
}
.google-maps{
    margin-left: 40px;
    margin-top: 50px;
    border: none;
    float: right;
}
.haus{
    position: relative;
    margin-top: 30px;
    background-image: url("picture/haus.png");
    width: 200px;
    height: 300px;
}*/

.second-container{
    justify-content: center;
    display: flex;
    margin-left: 25%;
    margin-top: 20px;
}
.second-container img{
        margin-left: 30px;
}
.second-container p{
    text-align: right;
}

.third-container{
    justify-content: center;
    display: flex;
    margin-right: 30%;
    margin-top: 20px;
}
.third-container img{
    margin-right: 30px;
}

.fourth-container{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 25%;
}
.fourth-container img{
        margin-left: 30px;
}
.fourth-container p{
    text-align: right;
}

.kontakt a{
    color: black;
}
.kontakt a:hover{
    color: #66DDDD;
}
.kontakt{
    background-color: #dcecfc;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border:10px;
}
