
@font-face{
    font-family: informal-roman;
    src: url(fonts/Informal-roman.ttf);
}

h1{
    color: rgb(0, 0, 0);
    font-family: informal-roman;
    font-size: 45px;
}

p{
    font-family:'Rubik', sans-serif;
    font-size: 15px;
}

li{
    font-family:'Rubik', sans-serif;
    font-size: 15px;    
}

.all{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.top-container{
  
}
.title-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.bild-container{
    position: relative;
    justify-content: center;
}
.bild-container p{
    position: absolute;
	bottom:0;
	left:0;
	background: rgba(255,255,255,0.6);
    margin-left: 650px;
    margin-right: 20px;
    padding: 6px;
}

.logo{
    margin-left: 100px;
    margin-right: 100px;
}

.navitems {
	list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}	
.navitems p {
    text-decoration: none;
    padding: 20px;
    color: black;
}

.subtitle{
    text-align: center;
}

.subtitle p{
    font-size: 40px;
    font-family: informal-roman;
    margin: 5px;
}

.portrait-container{
    max-width: 100%;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.first-container{
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-right: 20%;
}
.first-container img{
    margin-right: 30px;
}

.steckbrief{
    display: flex;
}
.antworten-steckbrief ul{
    list-style: none;
    padding-left: 20px;
    margin-right: 150px;
}

.google-maps{
    height: 120px;
    width: 140px;
    margin-left: 50px;
    margin-top: 70px;
    border: none;
    float: right;
    background-image: url(picture/haus.png);
    position: absolute;
}

.haus{
    position: relative;
}

.second-container{
    justify-content: center;
    display: flex;
    margin-left: 25%;
    margin-top: 20px;
    margin-right: 15%;
}
.second-container img{
        margin-left: 30px;
}
.second-container p{
    text-align: right;
}

.third-container{
    justify-content: center;
    display: flex;
    margin-right: 30%;
    margin-top: 20px;
    margin-left: 10%;
}
.third-container img{
    margin-right: 30px;
    transform: rotate(180deg);
}

.fourth-container{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 15%;

}
.fourth-container img{
        margin-left: 30px;
}
.fourth-container p{
    text-align: right;
}

.kontakt{
    background-color: #dcecfc;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border:10px;
}
